<!DOCTYPE html>
<html>
  <head>
    <title>Kagura35661</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- ナビゲーションバー　-->
  <%= render "shared/navbar" %>

  <!-- noty -->
  <%= render 'shared/notification' %>
  
    <%= yield %>
  </body>
</html>
